In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Create file paths
jan_file_path = 'Data/JC-202401-citibike-tripdata.csv'
feb_file_path = 'Data/JC-202402-citibike-tripdata.csv'
mar_file_path = 'Data/JC-202403-citibike-tripdata.csv'

# Read in csv's into dataframes
jan_df = pd.read_csv(jan_file_path)
feb_df = pd.read_csv(feb_file_path)
mar_df = pd.read_csv(mar_file_path)

In [3]:
# Merge all 3 Dataframes
merged_df = pd.concat([jan_df, feb_df, mar_df])

In [4]:
# Get count
merged_df.count()

ride_id               171855
rideable_type         171855
started_at            171855
ended_at              171855
start_station_name    171780
start_station_id      171780
end_station_name      171330
end_station_id        171312
start_lat             171855
start_lng             171855
end_lat               171801
end_lng               171801
member_casual         171855
dtype: int64

In [5]:
# Drop null values
merged_df = merged_df.dropna()

# Check new count
merged_df.count()

ride_id               171276
rideable_type         171276
started_at            171276
ended_at              171276
start_station_name    171276
start_station_id      171276
end_station_name      171276
end_station_id        171276
start_lat             171276
start_lng             171276
end_lat               171276
end_lng               171276
member_casual         171276
dtype: int64

In [6]:
# Check value types
merged_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [7]:
# Split 'started_at' and 'ended_at' columns at date and time and add to dataframe
merged_df[['started_date', 'started_time']] = merged_df['started_at'].str.split(' ', expand=True)
merged_df[['ended_date', 'ended_time']] = merged_df['ended_at'].str.split(' ', expand=True)

merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_date,started_time,ended_date,ended_time
0,0744109F13385D1D,electric_bike,2024-01-15 15:18:07,2024-01-15 15:32:44,Morris Canal,JC072,Oakland Ave,JC022,40.712297,-74.038185,40.737604,-74.052478,member,2024-01-15,15:18:07,2024-01-15,15:32:44
1,B1488BFEF9118000,classic_bike,2024-01-13 15:32:50,2024-01-13 15:36:18,JC Medical Center,JC110,Grove St PATH,JC115,40.715391,-74.049692,40.719410,-74.043090,member,2024-01-13,15:32:50,2024-01-13,15:36:18
2,95A2FE8E51B4C836,classic_bike,2024-01-19 13:11:00,2024-01-19 13:14:44,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member,2024-01-19,13:11:00,2024-01-19,13:14:44
3,95D9AFF6A1652DC1,classic_bike,2024-01-23 07:03:49,2024-01-23 07:07:11,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member,2024-01-23,07:03:49,2024-01-23,07:07:11
4,5F7408988A83B1B3,classic_bike,2024-01-01 16:46:10,2024-01-01 16:50:31,Morris Canal,JC072,Harborside,JC104,40.712419,-74.038526,40.719252,-74.034234,member,2024-01-01,16:46:10,2024-01-01,16:50:31

In [8]:
# Calculate trip duration by subtracting 'started_at' from 'ended_at'
merged_df['started_at'] = pd.to_datetime(merged_df['started_at'])
merged_df['ended_at'] = pd.to_datetime(merged_df['ended_at'])
merged_df['trip_duration'] = merged_df['ended_at'] - merged_df['started_at']

In [9]:
# Write merged dataframe into csv file
merged_df.to_csv('Data/First_qtr_bike_data.csv', index=False)